<p id="notice"><%= notice %></p>

<h1>Judgements</h1>

<table>
  <thead>
    <tr>
      <th>Opinion</th>
      <th>Vote</th>
      <th>User</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @judgements.each do |judgement| %>
      <tr>
        <td><%= judgement.opinion %></td>
        <td><%= judgement.vote %></td>
        <td><%= judgement.user %></td>
        <td><%= judgement.company %></td>
        <td><%= link_to 'Show', judgement %></td>
        <td><%= link_to 'Edit', edit_company_judgement_path(judgement) %></td>
        <td><%= link_to 'Destroy', judgement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Judgement', new_company_judgement_path %>
