<table>
  <thead>
    <tr>
      <th>Opinion</th>
      <th>Vote</th>
      <th>User</th>
      <th>Company</th>
      <% if current_user.try(:is_administrator) %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% company.judgements.each do |judgement| %>
      <tr>
        <td><%= judgement.opinion %></td>
        <td><%= judgement.vote %></td>
        <td><%= judgement.user.email %></td>
        <td><%= company.name %></td>
        <% if current_user.try(:is_administrator) %>
          <td><%= link_to 'Edit', edit_company_judgement_path(company, judgement) %></td>
          <td><%= link_to 'Destroy', [company, judgement], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
