<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Reputation</th>
      <th>Business</th>
      <th>Description</th>
      <% if current_user.try(:is_admin?) %>
        <th colspan="3"></th>
      <% else %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <% if company.image_url %>
            <%= image_tag company.image_url %>
        <% end %>
        <td><%= company.name %></td>
        <td><%= company.reputation %></td>
        <td><%= company.business.name %></td>
        <td><%= company.description %></td>
        <td><%= link_to 'Show', company %></td>
        <% if current_user.try(:is_admin?) %>
          <td><%= link_to 'Edit', edit_company_path(company) %></td>
          <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.try(:is_admin?) %>
  <%= link_to 'New Company', new_company_path %>
<% end %>
