<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Reputation:</strong>
  <%= @company.reputation %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @company.image %>
</p>

<p>
  <strong>Business:</strong>
  <%= @company.business.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
